body {
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $color-base;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-header;
  line-height: 1.3em;
  color: $color-base;
}

/* links */
a {
  color: $color-alt;
  @include hover-link;
}

a:focus, a:hover, a:active { outline: 0; }

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}
